#canvas_container[data-v-3818e9c1]{background:#333;text-align:center;border:3px solid}#canvas_container[data-v-3818e9c1],#canvas_container[data-v-e138105e]{width:800px;height:450px;overflow:auto}#canvas_container[data-v-e138105e]{background:#333;text-align:center;border:3px solid}